*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background: $primary-color;
}
