*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
  background: $primary-color;
  height: 100vh;
}

body {
  box-sizing: border-box;
}

::selection{
  background: $accent-color;
}