*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
  background: $primary-color;
}

body {
  box-sizing: border-box;
}

button {
  @include reset-button;
}