*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
  height: 100vh;
  background-color: $black;
}

body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

::selection{
  background: $accent;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  padding: $container-padding-sm;
  @include media-up(sm) {
    padding: $container-padding;
  }
}

.nuxt-link-exact-active {
  color: $accent !important;
}
