// ******
// UI mixins
// ******

@mixin reset-list {
  list-style: none;
  padding: 0;
}

@mixin base-button {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  color: inherit;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  &:focus {
    outline: none;
  }
}

@mixin reset-link {
  text-decoration: none;
  color: currentColor;
  transition: $base-transition;
}

@mixin reset-input {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
  &:focus {
    outline: 0;
  }
}

@mixin accent-link {
  &:hover {
    color: $accent-color
  }
}

@mixin text-link {
  cursor: pointer;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: $base-transition;
    background-color: currentColor;
  }
  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 968px
);

@mixin media($breakpoint: null, $is-mobile-first: true, $width: null) {
  @if $width {
    $media: if($is-mobile-first,
      'min-width: #{$width}',
      'max-width: #{$width - 1}');

    @media (#{$media}) {
      @content;
    }
  } @else {
    @if not map-has-key($breakpoints, $breakpoint) {
      @error '[media]: #{$breakpoint} is not defined';
    }
    $breakpoint-size: map-get($breakpoints, $breakpoint);
    @if ($breakpoint-size != 0) {
      $media: if($is-mobile-first,
        'min-width: #{$breakpoint-size}',
        'max-width: #{$breakpoint-size - 1}');
      @media (#{$media}) {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin media-up($breakpoint: null, $width: null) {
  @include media($breakpoint, true, $width) {
    @content;
  }
}

@mixin media-down($breakpoint: null, $width: null) {
  @include media($breakpoint, false, $width) {
    @content;
  }
}

@mixin hide-up($breakpoint-name: null, $width: null) {
  @include media-up($breakpoint-name, $width) {
    display: none;
  }
}

@mixin hide-down($breakpoint-name: null, $width: null) {
  @include media-down($breakpoint-name, $width) {
    display: none;
  }
}

@mixin hide-visually {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin main-container {
  max-width: 1016px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-padding;
}

@mixin paragraph-font {
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
}

@mixin subtitle-font {
  font-size: $subtitle-font-size;
  font-weight: $subtitle-font-weight;
}

@mixin subtitle-font-medium {
  font-size: $subtitle-font-size;
  line-height: $subtitle-line-height;
  font-weight: 500;
}

@mixin subtitle-font-semibold {
  font-size: $subtitle-font-size;
  font-weight: 600;
}

@mixin form-field {
  padding: 16px 24px;
  border: .5px solid $gray;
  &, &::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;
    transition: $base-transition;
  }
  &:focus {
    &::placeholder {
      opacity: .2;
    }
  }
}