// ******
// UI mixins
// ******

@mixin reset-list {
  list-style: none;
  padding: 0;
}

@mixin reset-button {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  color: inherit;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  &:focus {
    outline: none;
  }
}

@mixin container-padding($vertical: 0) {
  padding: $vertical $container-padding-sm;

  @include media-up(sm) {
    padding: $vertical $container-padding;
  }
}

@mixin button {
  @include reset-button;
  color: $white;
  padding-bottom: 16px;

  font-size: 18px;
  font-weight: 800;

  &, + svg {
    transition: $base-transition;
  }

  &:hover {
    + svg {
      transform: translateX(8px);
    }
  }
  &:active {
    transform: scale(.98);
  }

  &--small {
    padding: 16px 16px;
  }

  &--phone {
    font-size: 16px;
  }

  &--inline {
    padding: 0;
    background: transparent;
    box-shadow: none;
    @include text-link;
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

  &__arrow {
    stroke: #fff;

    &--black {
      stroke: #000;

      &:active {
        box-shadow: $black-shadow-small;
      }

      &:hover {
        background-color: black;
        box-shadow: $black-shadow;
      }
    }
  }

  &__arrow-wrapper {
    margin-left: 8px
  }

  &__phone {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 8px;
  }
}

@mixin reset-link {
  text-decoration: none;
  color: currentColor;
  transition: $base-transition;
}

@mixin reset-input {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
  line-height: 1;
  font-family: inherit;
  &:focus {
    outline: 0;
  }
}

@mixin accent-link {
  &:hover {
    color: $accent;
  }
}

@mixin line($width, $color){
  width: $width;
  height: 1px;
  background: $color;
}

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1000px,
  xlg: 1170px,
  xxlg: 1220px
);

@mixin media($breakpoint: null, $is-mobile-first: true, $width: null) {
  @if $width {
    $media: if($is-mobile-first,
      'min-width: #{$width}',
      'max-width: #{$width - 1}');

    @media (#{$media}) {
      @content;
    }
  } @else {
    @if not map-has-key($breakpoints, $breakpoint) {
      @error '[media]: #{$breakpoint} is not defined';
    }
    $breakpoint-size: map-get($breakpoints, $breakpoint);
    @if ($breakpoint-size != 0) {
      $media: if($is-mobile-first,
        'min-width: #{$breakpoint-size}',
        'max-width: #{$breakpoint-size - 1}');
      @media (#{$media}) {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin media-up($breakpoint: null, $width: null) {
  @include media($breakpoint, true, $width) {
    @content;
  }
}

@mixin media-down($breakpoint: null, $width: null) {
  @include media($breakpoint, false, $width) {
    @content;
  }
}

@mixin hide-up($breakpoint-name: null, $width: null) {
  @include media-up($breakpoint-name, $width) {
    display: none;
  }
}

@mixin hide-down($breakpoint-name: null, $width: null) {
  @include media-down($breakpoint-name, $width) {
    display: none;
  }
}

@mixin hide-visually {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin main-container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;

  padding-right: $container-padding-sm;
  padding-left: $container-padding-sm;

  @include media-up(sm) {
    padding-right: $container-padding;
    padding-left: $container-padding;
  }
}

@mixin form-field {
  padding: 16px 24px;
  border: .5px solid $gray;
  &, &::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: $black;
    transition: $base-transition;
  }
  &:focus {
    &::placeholder {
      opacity: .2;
    }
  }
}

@mixin margin-lg($direction: bottom, $all: false) {
  @if $all {
    margin: 32px;

    @include media-up(md) {
      margin: 48px
    }

    @include media-up(lg) {
      margin: 80px;
    }

  } @else {
    margin-#{$direction}: 32px;

    @include media-up(md) {
      margin-#{$direction}: 48px
    }

    @include media-up(lg) {
      margin-#{$direction}: 80px;
    }
  }
}
