body {
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: 1;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include reset-link;
}

@mixin accent-link {
  &:hover {
    color: $accent;
  }
}

.accent-link {
  @include accent-link;
}

@mixin text-link {
  cursor: pointer;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: $base-transition;
    background-color: currentColor;
  }
  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.text-link {
  @include text-link;
}

@mixin title-font {
  font-size: $title-font-size-sm;
  font-weight: $title-font-weight;
  line-height: $title-line-height;
  text-transform: uppercase;
  overflow-wrap: break-word;
  hyphens: auto;

  @include media-up(sm) {
    font-size: $title-font-size-md;
    overflow-wrap: normal;
    hyphens: none;
  }

  @include media-up(xlg) {
    font-size: $title-font-size-xlg;
  }
}

@mixin subtitle-font {
  font-size: $subtitle-font-size;
  font-weight: $subtitle-font-weight;
  line-height: $subtitle-line-height;
}

@mixin paragraph-font {
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
  @include media-down(md) {
    font-size: $paragraph-font-size-sm;
  }
}

@mixin small-font {
  font-size: $small-font-size;
  color: $gray;
}

.title {
  @include title-font;
}

.subtitle {
  @include subtitle-font;
}

.paragraph {
  @include paragraph-font;
}

.small-text {
  @include small-font;
}
