body {
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: 1;
  color: $secondary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include reset-link;
  position: relative;
}

.text-link {
  @include text-link;
}

.accent-link {
  @include accent-link;
}


h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  @include media-up(sm) {
    font-size: 64px;
  }
  @include media-up(sm) {
    font-size: 80px;
  }
}

.paragraph {
  @include paragraph-font;
}

.subtitle {
  @include subtitle-font;
}

.subtitle-medium {
  @include subtitle-font-medium;
}

.subtitle-semibold {
  @include subtitle-font-semibold;
}