body {
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: $secondary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
}