// COLORS
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #FF163D;

// TRANSITIONS
$base-transition: all .2s ease-in-out;

// LAYOUT
$container-padding: 24px;

//TYPOGRAPHY
$paragraph-font-size: 16px;
$paragraph-font-weight: 400;
$paragraph-line-height: 1.619;

$subtitle-font-size: 24px;
$subtitle-font-weight: 700;

